.sk-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .sk-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  
  .sk-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .sk-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .active-link{
    background-color: rgb(231, 56, 56);
    color: #fff;
  }
  .content-manage{
    width: 90%;
    margin: 2% 0% 0% 5%;
  }